<!DOCTYPE html>
<html>
  <head>
    <title>Résultats de l'analyse statistique</title>
  </head>
  <body>
    <h1>Résultats de l'analyse statistique</h1>
    <p>Voici les résultats de l'analyse statistique :</p>
    <table>
      <tr>
        <th>Test statistique</th>
        <td>{{ test_statistique }}</td>
      </tr>
      <tr>
        <th>Paramètres du test</th>
        <td>{{ parametres }}</td>
      </tr>
      <tr>
        <th>Résultat</th>
        <td>{{ resultat }}</td>
      </tr>
      <tr>
        <th>Conclusion</th>
        <td>{{ conclusion }}</td>
      </tr>
    </table>
  </body>
</html>
